/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (min-width:780px) {

    header{
        width: 100vw;
        height:100px;
        background-color: #D1D2D4;
        margin-bottom: 10px;
    }
    
    .main-container {
        display: flex;
        height: 75vh;
        width: 100vw;
    }
    
    .box {
        height: 37vh;
        width: 70vw;
        
    }
    .first-card{
        background-color: #EF4036;
    }
    .second-card{
        background-color: #FCB040;
    }
    
    .box3 {
        width: 30vw;
        height: 74vh;
        background-color: #F5EE31;
    }
    footer{
        background-color:#D1D2D4 ;
        width: 100vw;
        height: 100px;
    }

    
}



@media  screen and  (min-width: 480px) and (max-width:780px){
    header{
        height:70px;
        background-color: #D1D2D4;
        width: 100%;
        margin-bottom: 15px;
    }
    footer{
        height: 70px;
        background-color:#D1D2D4;
        width: 100%;
    }
    .main-container {
        display: flex;
        height: 80vh;
        width: 100vw;
    }
    
    .box {
        height: 39vh;
        width: 68vw;
        
    }
    .first-card{
        background-color: #EF4036;
    }
    .second-card{
        background-color: #FCB040;
    }
    .box3 {
        width: 30vw;
        height: 78vh;
        background-color: #F5EE31;
    }
  }

  @media  screen and (max-width:480px) {

    header{
        height:70px;
        width: 100%;
        background-color: #D1D2D4;
        margin-bottom: 15px;
    }

    .main-container{
        width: 100%;
        margin-bottom: 10px;

    }

    .first-card{
        height: 27vh;
        background-color: #EF4036;
    }
    .second-card{
        height: 27vh;
        background-color: #FCB040;
    }
    .third-card{
        height: 27vh;
        background-color: #F5EE31;
    }

    footer{
        height: 70px;
        background-color: #D1D2D4;
    }


    
  }