/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (min-width:780px) {

    header {
        height: 100px;
        width: 100vw;
        background-color: #D1D2D4;
        margin-bottom: 10px;
    }

    footer {
        height: 100px;
        width: 100vw;
        background-color: #D1D2D4;

    }

    .container {
        width: 100vw;
        height: 76vh;
        display: flex;
        margin-bottom: 10px;
    }

    .box {
        height: 76vh;

    }

    .first-card {
        width: 50vw;
        background-color: #8CC63F;
        order: 2;
    }

    .second-card {
        order: 1;
        width: 25vw;
        background-color: #0B9444;
    }

    .third-card {
        order: 3;
        width: 25vw;
        background-color: #F5EE31;
    }


}


@media screen and (min-width: 480px) and (max-width:780px) {

    header {
        height: 50px;
        width: 100%;
        background-color: #D1D2D4;
        margin-bottom: 10px;
    }

    .container {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;

    }

    .first-card {
        /* height: 50vh; */
        width: 100vw;
        height: 50vh;


        background-color: #0B9444;
    }

    .second-card {
        height: 33vh;
        width: 50%;
        background-color: #8CC63F;
        /* width: 50%; */
        /* display: inline-block; */



    }

    .third-card {
        height: 33vh;
        width: 49.8%;
        background-color: #F5EE31;
        /* width: 49%; */
        /* display: inline-block; */

    }



    footer {
        height: 50px;
        background-color: #D1D2D4;

    }

}

@media screen and (max-width:480px) {

    header {

        height: 50px;
        background-color: #D1D2D4;
        width: 100%;
        margin-bottom: 10px;
    }

    .container {
        margin-bottom: 10px;
    }

    .first-card {
        height: 40vh;
        background-color: #0B9444;
    }

    .second-card {
        height: 23vh;
        background-color: #8CC63F;
    }

    .third-card {
        height: 23vh;
        background-color: #F5EE31;
    }

    footer {
        height: 50px;
        background-color: #D1D2D4;
    }
}